*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table-body{
    border-collapse: collapse;
    margin: 50px 50px;
    width: 500px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.table-body thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
}

.table-body th, td{
    padding: 15px;
}

.table-body tbody .sally{
    border-top: 2px solid rgb(220, 219, 219);
    border-bottom: 2px solid rgb(220, 219, 219);
    background-color: whitesmoke;
    color: rgb(0, 152, 121);
}

.table-body tbody{
    border-bottom: 3px solid rgb(0, 152, 121);
}